{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{{ hall }}{% endblock header %}

{% block content %}

    {% if row_list %}
        {% for row in row_list %}
            <p>
                Reihe {{row.number}}
                {% for seat in row.seat_set.all %}
                <a href="seat/{{seat.id}}" title="Sitz {{ seat.number }}">
                    <img class="seat grayscale" src="{% static 'img/seat.png' %}"/>
                </a>
            {% endfor %}
            </p>
        {% endfor %}
    {% else %}
    <p>No rows entered.</p>
    {% endif %}

{% endblock content %}