{% extends "base.html" %}
{% load staticfiles %}

{% block header %}Impressum{% endblock header %}

{% block content %}

    <i class="fa fa-star" aria-hidden="true"></i>

    <h3>Bild-Referenzen</h3>
    <div>
        <h4>Entworfen durch Freepik</h4>
        <a href="http://de.freepik.com/vektoren-kostenlos/cinema-hintergrund_781647.htm">Vorhänge</a><br/>
        <a href='http://de.freepik.com/vektoren-kostenlos/rote-sessel-hintergrund-vorlage_847472.htm'>Sessel (Hintergrund)</a><br/>
        <a href='http://de.freepik.com/vektoren-kostenlos/cinema-pack_762413.htm'>Sitz (Kino)</a><br/>
    </div>


{% endblock content %}