{% load staticfiles %}
<div id="rows">
    {% if row_list %}
        {% for row in row_list %}
            <p>
                Reihe {{row.number}}
                {% for seat in row.seats.all %}
                    <a href="seat/{{seat.id}}" title="Sitz {{ seat.number }}">
                        {% if view == '2' %}
                            {% if seat.calculated_2d_rating <= 1 %}
                                <img class="seat" src="{% static 'img/seat-good.png' %}"/>
                            {% elif seat.calculated_2d_rating <= 2 %}
                                <img class="seat" src="{% static 'img/seat-fine.png' %}"/>
                            {% elif seat.calculated_2d_rating <= 3 %}
                                <img class="seat" src="{% static 'img/seat-medium.png' %}"/>
                            {% elif seat.calculated_2d_rating <= 4 %}
                                <img class="seat" src="{% static 'img/seat.png' %}"/>
                            {% else %}
                                <img class="seat grayscale" src="{% static 'img/seat.png' %}"/>
                            {% endif %}
                        {% else %}
                            {% if seat.calculated_3d_rating <= 1 %}
                                <img class="seat" src="{% static 'img/seat-good.png' %}"/>
                            {% elif seat.calculated_3d_rating <= 2 %}
                                <img class="seat" src="{% static 'img/seat-fine.png' %}"/>
                            {% elif seat.calculated_3d_rating <= 3 %}
                                <img class="seat" src="{% static 'img/seat-medium.png' %}"/>
                            {% elif seat.calculated_3d_rating <= 4 %}
                                <img class="seat" src="{% static 'img/seat.png' %}"/>
                            {% else %}
                                <img class="seat grayscale" src="{% static 'img/seat.png' %}"/>
                            {% endif %}
                        {% endif %}
                    </a>
                {% endfor %}
            </p>
        {% endfor %}
    {% else %}
        <p>No rows entered.</p>
    {% endif %}
</div>