{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block header %}Sitz {{seat.number}}{% endblock header %}

{% block content %}

    Reihe {{ seat.parent.number }}, Sitz {{ seat.number }}

    <div class="row">
        <div class="col-md-8">
            <h3>Bewertungen</h3>
        </div>
        <div class="col-md-4 text-center rate-button">
            <a class="button-link" href="rate">Bewerte diesen Sitzplatz!</a>
        </div>
    </div>

    {% if seat.ratings %}

        <div class="row">
            <div class="col-md-6">
                <h4>2D</h4>
                <p>{{ seat.calculated_2d_rating }} (Durchschnittsbewertung)</p>

                <div id="accordion_2d">
                    {% include 'rating/ratings.html' with ratings=ratings_2d %}
                </div>
            </div>
            <div class="col-md-6">
                <h4>3D</h4>
                <p>{{ seat.calculated_3d_rating }} (Durchschnittsbewertung)</p>
                <div id="accordion_3d">
                    {% include 'rating/ratings.html' with ratings=ratings_3d %}
                </div>
            </div>
        </div>

    {% else %}
        <p>Für diesen Sitzplatz wurden noch keine Bewertungen abgegeben.</p>
    {% endif %}

{% endblock content %}