@media screen and (min-width: 770px) {
    body {
        background-image: url(../img/right-curtains.png), url(../img/left-curtains.png);
        background-position: right top, left top;
        background-repeat: repeat-y;
    }
    .jumbotron {
        margin: 0 200px;
    }
    .fix{
        bottom:0px;
        display: none;
    }
}

@media screen and (max-width: 770px) {
    html {
        min-height: 100%;
    }
    .jumbotron {
        margin: 0 30px;
    }
    .fix{
        bottom:0px;
    }
}

.container {
    margin: 10px;
    height: 100% ;
    overflow: hidden;
}

.jumbotron {
    overflow-y: scroll;
    width: 100%;
    background-color: transparent;
}

ul {
    list-style: none;
}

ul#locations > li:before {
    font-family: 'FontAwesome';
    content: '\f041';
    margin:0 5px 0 -15px;
    color: #000;
}

ul#cinemas > li:before {
    font-family: 'FontAwesome';
    content: '\f015';
    margin:0 5px 0 -15px;
    color: #000;
}

ul#halls > li:before {
    font-family: 'FontAwesome';
    content: '\f008';
    margin:0 5px 0 -15px;
    color: #000;
}

img.seat {
    height: 25px;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

a, a:hover {
    color: black;
    text-decoration: none;
}

div.breadcrumbs {
    margin: 10px 0;
    display: inline-block;
}

div.rating p {
    font-size: 14px;
}

div.row {
    width: 80%;
}

div.rating-seat {
    background: url(../img/seat.png) no-repeat left top;
    background-size: 31px 45px;
    width: 31px;
    height: 45px;
    float: left;
}

div.ui-accordion-content p {
    font-size: 12px !important;
}

/*
helles rot = c62127
dunkles rot = a71b23
*/

.button-link {
    padding: 10px 15px;
    background: #c62127;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #a71b23;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin-top: 20px;
    margin-bottom: 10px;
}
.button-link:hover {
    background: #a71b23;
    border: solid 1px #a71b23;
    text-decoration: none;
    color: white;
}

.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #a71b23;
    border: solid 1px #a71b23;
}

div.rate-button {
    margin-top:20px;
    margin-bottom:10px;
}

.ui-state-active {
    border: 1px solid #a71b23 !important;
    background: #c62127 !important;
}

.btn-primary {
    background-color: #c62127 !important;
    border-color: #a71b23 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn-primary:hover {
    background: #a71b23 !important;
    border: solid 1px #a71b23 !important;
}